<table>
  <th>People</th>
    <% @people.each do |person| %>
      <tr><td><%= link_to "#{person.first_name} #{person.last_name}", person %> </td></tr>
    <% end %>  
</table>
<br>
<%= link_to "New Person", new_person_path %>
