<table>
  <tr>
    <th>Format</th>
    <th>Title</th>
  </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.format %></td>
        <td><%= link_to movie.title, movie %> </td>
      </tr>
    <% end %>  
</table>
<br>
<%= link_to "New Movie", new_movie_path %>
